{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}
<h1>SyBall Shop</h1>

<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <hr>
</a>

<a href="?filter=all">
    <button type="button">All Product</button>
</a>
<a href="?filter=my">
    <button type="button">My Product</button>
</a> 

{% if not product_list %}
<p>Belum ada data produk pada SyBall Shop.</p>
{% else %}

{% for product in product_list %}
<div>
  <h2><a href="{% url 'main:show_product' product.id %}">{{ product.name }}</a></h2>

  <p><b>{{ product.get_category_display }}</b>
    {% if product.is_featured %} | <b>Featured</b>{% endif %}
    {% if product.is_product_hot %} | <b>Hot</b>{% endif %}
    | Views: {{ product.product_views }}</p>

  {% if product.thumbnail %}
  <img src="{{ product.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{ product.description|truncatewords:25 }}...</p>

  <p><a href="{% url 'main:show_product' product.id %}"><button>Read More</button></a>
  {% if user.is_authenticated and product.user == user %}
    <a href="{% url 'main:edit_product' product.pk %}">
        <button>
            Edit
        </button>
    </a>
    <a href="{% url 'main:delete_product' product.pk %}">
      <button>
          Delete product
      </button>
  </a>
    {% endif %}
    </p>
</div>

<hr>
{% endfor %}

{% endif %}
{% endblock content%}